body {
    background-color: #fffafb;
}

.header {
    margin-top: 8rem;
    text-align: center;
}
#header {
font-size: 4rem;
color: #339989;
}
.slogan {
    text-align: center;
}
#slogan {
    color: #339989;
}
.nav {
    margin-top: 4rem;
}
.image {
    height: 30vh;
}

.tab-header {
    text-align: center;
    margin-top: 1rem;
}
#missionhead {
    color: #004ba8;
}
#aboutusheader {
    color: #339989;
}
h3 {
    display: inline-block;
}
#slogan1 {
    color: #004ba8;
}
#slogan2 {
    color: #004ba8;
}
#slogan3 {
    color: #004ba8;
}
#login {
    width: 9.4rem;
}
.buttons {
    margin-top: 2.5rem;
}