html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar { 
    font-size: 1.3em;
    margin: 0px;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 0.8em;

    color: whitesmoke !important;
}

#map { 
    height: 100%;
    width: 100%;
}

svg {
  fill: whitesmoke;
}