html, body {
  
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fffafb;
}

.login{
  width: 100%;
  text-align: center;
  color: #339989;
  align-items: center;
  margin-top: 10%;
  margin-bottom:2%;
}

.navbar { 
  font-size: 1.3em;
  margin: 0px;
}

.navbar-brand {
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 0.8em;
  text-align: center;
  color: whitesmoke !important;
}



svg {
  fill: #339989;
}

.login-web {
  display: none;
}

.login-mobile {
  margin-right: auto;
  margin-left: 2%;
  font-size: .9em;
}
a:link {
  color: #339989;
}
a:visited {
  color: #339989;
}
a:hover {
  color: #7de2d1 !important;
}

@media (min-width: 992px) {

  .login-web {
    display: block;
    margin-right: 5%;
    font-size: .9em;
  }
  .login-mobile {
    display:  none;
  }
  a:link {
    color: #339989;
  }
  a:visited {
    color: #339989;
  }
  a:hover {
    color: #7de2d1;
  }


  .navbar-expand-lg > * > .navbar-nav {
    position: absolute;
    /* center navbar items */
    left: 50%;
    transform: translateX(-50%);
  }
}

.user-profile-icon {
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 5px;
  border-radius: 50%;
  
}

.user-profile-icon img {
  border-radius: 50%;
  background-color: white;
 

}

.profile-container{
  width:100%;
  font-size:100px;
}
