html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #212529;
}

.login{
  width: 100%;
  text-align: center;
  color: white;
  align-items: center;
  margin-top: 20%;
  margin-bottom:2%;
}

.navbar { 
  font-size: 1.3em;
  margin: 0px;
}

.navbar-brand {
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 0.8em;

  color: whitesmoke !important;
}

@media (min-width: 992px) {

  .navbar-expand-lg > * > .navbar-nav {
    position: absolute;
    /* center navbar items */
    left: 50%;
    transform: translateX(-50%);
  }
}

svg {
  fill: whitesmoke;
}