body {
    background-color: #212529;
}

h1, p, a {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.8em;
  padding: 10px 0;
  font-weight: 800;
}

p {
  font-size: 1.1em;
  font-weight: 100;
  letter-spacing: 5px;
}

.header {
  width: 100%;
  padding:60px 0;
  text-align: center;
  background: #0d6efd;
  color: white;
  align-items: center;
  margin-top: 10%;
  
}

.d-grid {
    margin-top:5%;
}

.btn{
    padding: 10px;
    width:10vw;
}

.login{
  width: 100%;
 
  text-align: center;
 
  color: white;
  align-items: center;
  margin-top: 10%;
  margin-bottom:2%;
}

.navbar { 
  font-size: 1.3em;
  margin: 0px;
}

.navbar-brand {
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 0.8em;

  color: whitesmoke !important;
}

.navbar-expand-lg > .nav-item {
  position: absolute;
  /* center navbar items */
  left: 50%;
  transform: translateX(-50%);
}

svg {
  fill: whitesmoke;
}